[workspace]
members = [
    "{{#warp_api}}{{member_name}}{{/warp_api}}", 
    "{{#repository}}{{member_name}}{{/repository}}", 
    "{{#domain}}{{member_name}}{{/domain}}", 
    "{{#types}}{{member_name}}{{/types}}", 
    "{{#repository}}{{member_name}}{{/repository}}",
    "{{#search}}{{member_name}}{{/search}}",
    "{{#axum_api}}{{member_name}}{{/axum_api}}",
    "{{#server}}{{member_name}}{{/server}}",
    "{{#auth}}{{member_name}}{{/auth}}",
    "{{#logger}}{{member_name}}{{/logger}}"
    ]

[profile.dev]
codegen-units = 16

[profile.release]
lto = true
opt-level = 'z'
