# {{project_name}}
  rust web server and crates.

## Structure
- {{#api}}{{member_name}}{{/api}}: web request & response
- {{#domain}}{{member_name}}{{/domain}}: business service & impl
- {{#repository}}{{member_name}}{{/repository}}: wrap database operation & sql
- {{#types}}{{member_name}}{{/types}}: type for all module
- server: boot & logger
