[package]
name = "{{#server}}{{package_name}}{{/server}}"
version = "0.1.0"
edition = "2021"
autotests = false
authors = ["Simon Osaka <geniusmickymouse@qq.com>"]
include = ["src/**/*", "Cargo.toml", "README.md"]
description = "A example of rust web server to develop api"
repository = "https://github.com/SimonOsaka/rust-web-server-mustache"
documentation = ""
homepage = ""
keywords = ["web", "api", "db"]
categories = []
license = "MIT"
readme = "README.md"

[[bin]]
bench = false
path = "src/main.rs"
name = "{{#cargo_toml}}{{bin_name}}{{/cargo_toml}}"

[features]
default = [
    "{{#repository}}{{package_name}}{{/repository}}_lib", 
    "{{#search}}{{package_name}}{{/search}}_lib",
    "{{#axum_api}}{{package_name}}{{/axum_api}}_lib"
    ]
{{#redis}}{{package_name}}{{/redis}}_lib = ["{{#redis}}{{package_name}}{{/redis}}"]
{{#repository}}{{package_name}}{{/repository}}_lib = ["{{#repository}}{{package_name}}{{/repository}}"]
{{#search}}{{package_name}}{{/search}}_lib = ["{{#search}}{{package_name}}{{/search}}"]
{{#axum_api}}{{package_name}}{{/axum_api}}_lib = ["{{#axum_api}}{{package_name}}{{/axum_api}}"]
{{#extra}}{{package_name}}{{/extra}}_lib = ["{{#extra}}{{package_name}}{{/extra}}/email"]
{{#auth}}{{package_name}}{{/auth}}_lib = ["{{#auth}}{{package_name}}{{/auth}}/authorization", "{{#auth}}{{package_name}}{{/auth}}/jwt"]
# Append to default
# command: RUSTFLAGS="--cfg tokio_unstable" cargo run
tokio_console = ["tokio/tracing", "console-subscriber"]

[dependencies]
{{#axum_api}}{{package_name}}{{/axum_api}} = { path = "../{{#axum_api}}{{member_name}}{{/axum_api}}", optional = true }
{{#redis}}{{package_name}}{{/redis}} = { path = "../{{#redis}}{{member_name}}{{/redis}}", optional = true }
{{#repository}}{{package_name}}{{/repository}} = { path = "../{{#repository}}{{member_name}}{{/repository}}", optional = true }
{{#search}}{{package_name}}{{/search}} = { path = "../{{#search}}{{member_name}}{{/search}}", optional = true }
{{#extra}}{{package_name}}{{/extra}} = { path = "../{{#extra}}{{member_name}}{{/extra}}", optional = true }
{{#logger}}{{package_name}}{{/logger}} = { path = "../{{#logger}}{{member_name}}{{/logger}}" }
{{#auth}}{{package_name}}{{/auth}} = { path = "../{{#auth}}{{member_name}}{{/auth}}", optional = true }
dotenv = "0.15.0"
tokio = { version = "1", features = ["macros"] }
console-subscriber = { version = "0.1", optional = true }
