[package]
name = "{{#server}}{{package_name}}{{/server}}"
version = "0.1.0"
edition = "2021"
autotests = false
authors = ["Simon Osaka <geniusmickymouse@qq.com>"]
include = ["src/**/*", "Cargo.toml", "README.md"]
description = "A example of rust web server to develop api"
repository = "https://github.com/SimonOsaka/rust-web-server-mustache"
documentation = ""
homepage = ""
keywords = ["web", "api", "db"]
categories = []
license = "MIT"
readme = "README.md"

[[bin]]
bench = false
path = "src/main.rs"
name = "{{#cargo_toml}}{{bin_name}}{{/cargo_toml}}"

[features]
default = [
    "{{#repository}}{{package_name}}{{/repository}}_lib", 
    "{{#search}}{{package_name}}{{/search}}_lib",
    "{{#warp_api}}{{package_name}}{{/warp_api}}_lib"
    ]
{{#redis}}{{package_name}}{{/redis}}_lib = []
{{#repository}}{{package_name}}{{/repository}}_lib = []
{{#search}}{{package_name}}{{/search}}_lib = []
{{#warp_api}}{{package_name}}{{/warp_api}}_lib = []

[dependencies]
{{#axum_api}}{{package_name}}{{/axum_api}} = { path = "../{{#axum_api}}{{member_name}}{{/axum_api}}", features = ["{{features_name}}"] }
{{#warp_api}}{{package_name}}{{/warp_api}} = { path = "../{{#warp_api}}{{member_name}}{{/warp_api}}", features = ["{{features_name}}"] }
{{#redis}}{{package_name}}{{/redis}} = { path = "../{{#redis}}{{member_name}}{{/redis}}" }
{{#repository}}{{package_name}}{{/repository}} = { path = "../{{#repository}}{{member_name}}{{/repository}}", features = ["{{features_name}}"] }
{{#search}}{{package_name}}{{/search}} = { path = "../{{#search}}{{member_name}}{{/search}}" }
async-trait = "0.1"
flexi_logger = "0.19.3"
log = "0.4"
dotenv = "0.15.0"
tokio = { version = "1", features = ["macros"] }
