
#[tokio::main(flavor = "multi_thread", worker_threads = 10)]
async fn main() {
    dotenv::dotenv().ok();

    // add return value here, log can output to console and file, don't change.
    // issue: https://github.com/tokio-rs/tracing/issues/971
    let (_guard_file, _guard_stderr) = {{#logger}}{{package_name}}{{/logger}}::log_create();

    #[cfg(any(feature="tokio_console"))]
    console_subscriber::init();

    #[cfg(any(feature = "{{#auth}}{{package_name}}{{/auth}}_lib"))]
    {{#auth}}{{package_name}}{{/auth}}::init().await;

    #[cfg(any(feature = "{{#extra}}{{package_name}}{{/extra}}_lib"))]
    {{#extra}}{{package_name}}{{/extra}}::init().await;

    #[cfg(any(feature = "{{#repository}}{{package_name}}{{/repository}}_lib"))]
    {{#repository}}{{package_name}}{{/repository}}::db::Repo::create().await;

    #[cfg(any(feature = "{{#redis}}{{package_name}}{{/redis}}_lib"))]
    {{#redis}}{{package_name}}{{/redis}}::connection::RedisConnection::create().await;

    #[cfg(any(feature = "{{#search}}{{package_name}}{{/search}}_lib"))]
    {{#search}}{{package_name}}{{/search}}::meilisearch::MeiliSearch::create().await;

    #[cfg(any(feature = "{{#axum_api}}{{package_name}}{{/axum_api}}_lib"))]
    {{#axum_api}}{{package_name}}{{/axum_api}}::start().await;
}
