#[macro_use]
extern crate log;

mod logger;

#[tokio::main(flavor = "multi_thread", worker_threads = 10)]
async fn main() {
    dotenv::dotenv().ok();

    logger::create();

    {{#repository}}{{package_name}}{{/repository}}::db::Repo::create().await;

    {{#redis}}{{package_name}}{{/redis}}::connection::RedisConnection::create().await;

    {{#api}}{{package_name}}{{/api}}::start().await;
}
